<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryUI.Properties.Settings.generalConnectionString"
            connectionString="Data Source=ANDRE;Initial Catalog=general;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryUI.Properties.Settings.generalConnectionString1"
            connectionString="Data Source=CARLOCARINO\SQlEXPRESS;Initial Catalog=general;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>